<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  head() {
    return {
      link: [
        {
          rel: 'canonical',
          href:
            this.$route.path === '/'
              ? 'https://about.gitlab.com/'
              : `https://about.gitlab.com${this.$route.path}/`,
        },
      ],
    };
  },
});
</script>

<template>
  <div>
    <Nuxt role="main" />
    <SlpFooter />
  </div>
</template>
